*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
   font-family:'Gill Sans MT';
}

html,body{
   height: 100%;
   width: 100%;
}

#main{
   height: 100%;
   width: 100%;
}

#header{
   height: 13%;
   width: 100%;
   background-color: white;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-around;

}

#fakeHeader{
   height: 13%;
   width: 100%;
}

#logo{
   height: 70%;
   margin: 30px;}

#logo img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.texts{
   display: flex;
   font-size: 30px;
   /* margin: 20px; */
   color: rgb(0, 0, 147);
}

.texts:hover{
   color: lightskyblue;

}

#contactDetials{
   /* margin-left: 45px; */
   font-size: 25px;
   font-weight: lighter;
}

#contactDetials:hover{
   color: lightskyblue;
}

.icon{
   font-size: 30px;
   /* margin-left: 20px; */
   padding: 10px;
   border-radius: 50%;
}

.icon:hover{
   background-color: lightblue;
   color: rgb(77, 191, 240);
}

#login{
   /* margin-left: 20px; */
   display: flex;
   padding: 10px;
   border-radius: 50px;
   background-color: lightblue;
   font-size: 30px;

}

#login:hover{
   color: rgb(77, 191, 240);
}

#try{
   /* margin-left: 30px; */
   font-size: 30px;
   background-color: green;
   color: white;
   padding: 10px 20px;
   border-radius: 50px;
}

#try:hover{
   background-color: rgb(22, 32, 22);
}

#page1{
   height: 87%;
   width: 100%;
}

#page1 {
  background-image: url("https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2025/08/Frame-2-1-1.png?resize=2048,711");  /* Image ka path ya link */
  background-size: cover;                   /* Image ko full screen cover karne ke liye */
  background-position: center;              /* Image ko center me rakhne ke liye */
  background-repeat: no-repeat;             /* Image repeat na ho */
}

#strip{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 35px;
   color: white;
   width: 100%;
   height: 9%;
   background-color: rgb(3, 3, 98);
}

a{
   color: white;
   font-size: 22px;
   margin: 20px;
   font-weight: lighter;
}

a:hover{
   font-size: 25px;
   color: rgb(77, 191, 240);
}

#content{
   width: 100%;
   height: 76%;
   display: flex;
   align-items: center;
   justify-content: center; 
   justify-content: space-around;
}

#box1{
   height: 90%;
   width: 40%;
   font-size: 30px;
}

#smb{
   color: rgb(3, 3, 98);
}

#special{
   color: rgb(13, 91, 217);
}


#tex{
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;
}

button{
   font-size: 40px;
   padding: 10px 20px;
   color: white;
   border-radius: 6px;
   background-color:rgb(13, 91, 217) ;
}

button:hover{
   background-color: rgb(3, 3, 98);
}

#box2{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90%;
   width: 40%;
}

video {
  width: 700px;
  height: 400px;
  border-radius: 30px;
  object-fit: cover;  /* video ko crop karke circle ke andar fit karega */
}


#heading{
   width: 100%;
   height: 16%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 60px;
   color: rgb(3, 3, 98);

}

#page2{
   height: 90%;
   width: 100%;
}

#page2 {
  background-image: url("https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-products-bg.png?resize=2048,625");  /* Image ka path ya link */
  background-size: cover;                   /* Image ko full screen cover karne ke liye */
  background-position: center;              /* Image ko center me rakhne ke liye */
  background-repeat: no-repeat;             /* Image repeat na ho */
}

#cards{
   height:70%;
   width: 100%;
   display: flex;
   /* align-items: center; */
   padding: 60px;
   justify-content: center;
   justify-content: space-evenly;
   /* background-color: aqua; */
   transition: transform 0.3s ease;
   
}

.allcards{
   position: relative;
   height:100%;
   width: 20%;
   border-radius: 20px;
   box-shadow: 0px 4px 8px gray;
   background-color: white;
   overflow: hidden;
}


.bg{
   display: grid;
   height: 40%;
   width: 100%;
   border-radius: 20px;
   overflow: hidden;
}

.bg img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

/* .bg img:hover{
   z-index: 5px;
} */

.bd::before{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: scale(1);
   transition: transform 0.4s ease-out;
   z-index: 1;
   
}

.textcontain{
   height: 40%;
   width: 100%;
   padding: 40px;
}

.textcontain h2{
   color: rgb(3, 3, 98);
   font-size: 30px;
   padding: 20px;
}

.textcontain p {
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
}

h2:hover{
   color: rgb(13, 91, 217);
}

.link{
   height: 10%;
   width: 100%;
   padding: 35px;
}

a{
   color: rgb(3, 3, 98);
}

a:hover{
   text-decoration: none;
   transform: none;
}


#button{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 10rem;
}

#view{
   color: rgb(13, 91, 217);
   background-color: white;
}

#view:hover{
   color: rgb(3, 3, 98);
   background-color: rgba(226, 242, 244, 0.5);
   cursor: pointer;
}


/* img{
   height: 100%;
   width: 100%;
   object-fit: cover;
} */



